@charset "UTF-8";

.fr{float:right;}
.fl{float:left;}
.fc{text-align:center;}

.foot{margin-top:10px; color:#666;height:30px;border:1px solid #c8c8c8;background-color:#eaeaea;background-image:linear-gradient(RGB(241,241,241),RGB(226,226,226));position:relative;z-index:8;}
.priceTotal{color:red;font-family:"Microsoft Yahei";font-weight:bold; margin-right: 50px;}
