@charset "UTF-8";

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.fr{float:right;}
.fc{text-align:center;}
.carbox{width:100%;margin:auto;}
.carbox table{text-align:center;width:100%;}
.carbox table th,.carbox table td{border:1px solid #CADEFF;}
.carbox table th{background:#e2f2ff;border-top:3px solid #a7cbff;height:30px;}
.carbox table td{padding:10px;color:#444;}
.carbox table tbody tr:hover{background:RGB(238,246,255);}

.goods{width:30%;}
.goods span{width:100%;margin-top:5px;text-align:left;float:left;}
.goods img{width:100%;height:30px;margin-right:10px;float:left;}
.price{width:17%;}
.count{width:15%;}
.subtotal{width:17%;color:red;font-weight:bold;}
.operation {color:red; width:19%; text-decoration:underline;}

.foot{margin-top:10px; color:#666;height:30px;border:1px solid #c8c8c8;background-color:#eaeaea;background-image:linear-gradient(RGB(241,241,241),RGB(226,226,226));position:relative;z-index:8;}
.priceTotal{color:red;font-family:"Microsoft Yahei";font-weight:bold; margin-right: 50px;}
