<ion-view view-title="我来代理">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="true">
        <label class="item">
            <div style="padding-left: 15px;white-space:normal;"
                 ng-bind-html="config.agent | toHtml | trustHtml">
            </div>
        </label>
        <label class="item item-input">
            <span class="input-label" style="text-align:right; padding-right: 20px">真实姓名:</span>
            <input placeholder="请输入姓名" type="text" ng-model="agent.name">
        </label>
        <label class="item item-input">
            <span class="input-label" style="text-align:right; padding-right: 20px">手机号码:</span>
            <input placeholder="请输入手机号码" type="tel" ng-model="agent.phone">
        </label>

        <div style="text-align:center;">
            <button class="button button-light" ng-click="myAgent()">
                申请代理
            </button>
        </div>
    </ion-content>
</ion-view>
