<!--加入购物车、立即购买弹出页-->
<ion-popover-view >
    <ion-content scroll="true" lazy-scroll>
        <div class="st_buyPop">
            <div>
                <img class="st_buyPopImg"
                     image-lazy-src="uploads/[[itemInfo.indeximg]]" image-lazy-loader="bubbles">
                <span>[[itemInfo.name]]</span>
            </div>
            <div class="st_price">[[PopData.cur_price | currency:'￥']]</div>
            <div ng-if="itemSpec">
                <div ng-repeat="(key,value) in itemSpec">
                    <span>[[key]]:</span>
                    <select class="st_buyPopInput" ng-change="PopData.showPrice(key)" ng-model="PopData[key].Spec">
                        <option ng-repeat="spec in value">[[spec.val]]</option>
                    </select>
                    <div style="height: 10px"></div>
                </div>
            </div>

            <div>
                <em>数量:</em>
                <input class="st_buyPopInput" ng-model="PopData.chooseNum" ng-change="checkInput(PopData.chooseNum)" placeholder="请输入数量" value="PopData.chooseNum">
                </input>
                <em>[[itemInfo.unit]]</em>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="left">
        <button class="button button-light st_buyPopButton" ng-click="cancel()">
            取消
        </button>
        <button class="button button-calm st_buyPopButton" ng-click="confirm()">
            确定
        </button>
    </ion-footer-bar>
</ion-popover-view>
