<!--加入购物车、立即购买弹出页-->
<ion-popover-view >
    <ion-content scroll="true" lazy-scroll>
        <div style="padding-left:3px; padding-right: 3px">
            <div>
                <img style="width: 50px; height: 60px; border-radius:10px;"
                     image-lazy-src="uploads/[[itemInfo.indeximg]]" image-lazy-loader="bubbles">
                <span>[[itemInfo.name]]</span>
            </div>
            <div style="color: red;">[[itemInfo.cur_price | currency:'￥']]</div>
            <div ng-if="itemSpec">
                <div ng-repeat="(key,value) in itemSpec">
                    <span>[[key]]:</span>
                    <select id="[[key]]" style="width: 95%">
                        <option id="[[spec]]" ng-repeat="spec in value">[[spec]]</option>
                    </select>
                </div>
            </div>

            <div>
                <span>数量:</span>
                <select ng-model="PopData.chooseNum" style="width: 95%">
                    <option id="[[num]]" ng-repeat="num in PopData.itemNums">[[num]]</option>
                </select>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar align-title="left">
        <button class="button button-light" style="width: 49%;" ng-click="cancel()">
            取消
        </button>
        <button class="button button-calm" style="width: 49%;" ng-click="confirm()">
            确定
        </button>
    </ion-footer-bar>
</ion-popover-view>
