<!--购物车-->
<ion-view view-title="购物车">
    <ion-content scroll="true" lazy-scroll>
        <div class="carbox" ng-if="showCarInfo">
            <table id="cartTable">
                <thead>
                <tr>
                    <th>商品</th>
                    <th>单价</th>
                    <th width="150px">数量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in itemInCar">
                    <td class="goods">
                        <span ui-sref="tabs.cariteminfo({itemID: [[item.id]]})">[[item.name | clipStr]]</span>
                        <span style="color: #adadad" ng-if="item.spec">[[item.specStr]]</span>
                    </td>
                    <td class="price">
                        [[item.price | currency:'￥']]
                    </td>
                    <td class="count">
                        <select ng-model="item.num" ng-change="numChange(item.carID, item.num)" style="width: 100%">
                            <option ng-repeat="num in itemNums" ng-selected="num == item.num" id="[[num]]">[[num]]</option>
                        </select>
                    <td class="operation" ng-click="delete(item.carID)">
                       <i class="ion-trash-a" ></i>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="foot" id="foot">
                <div class="fr">合计：<span class="priceTotal">[[priceTotal | currency:'￥']]</span></div>
            </div>
        </div>

        <div style="width: 100%; height: 100%" ng-if="!showCarInfo">
            <img style="width: 100%; height: 100%" ng-src="resources/views/sysimg/emptycar.png"/>
        </div>

    </ion-content>

    <ion-footer-bar ng-if="showCarInfo">
        <button class="button button-balanced ion-bag" style="width: 49%;" ng-click="checkout()">
            结算
        </button>
        <button class="button button-energized ion-trash-a" style="width: 49%;" ng-click="clear()">
            清空
        </button>
    </ion-footer-bar>

</ion-view>
