<!--购物车-->
<ion-view view-title="购物车">
    <ion-content scroll="true" lazy-scroll>

        <div class="st_underline" ng-repeat="item in itemInCar">
            <div class="row">
                <div class="col col-40" ui-sref="tabs.cariteminfo({itemID: [[item.id]]})">
                    <img ng-src="uploads/[[item.img]]"
                         class="st_carImg">
                    <span>
                        [[item.name | clipStr]]
                    </span>
                    <br>
                    <span class="st_addInfo">
                        [[item.spec | specToStr]]
                    </span>
                </div>
                <div class="col">
                    <em >数量：</em>
                    <input ng-model="item.num" class="st_buyPopInput"
                           ng-change="numChange(item.carID, item.num)"
                           placeholder="请输入数量" value="PopData.chooseNum">
                    </input>
                    <em>[[item.unit]]</em>
                    <br>
                    <span>
                        单价：[[item.price | currency:'￥']]
                    </span>
                </div>
                <div class="col col-10 st_H100">
                    <img ng-src="resources/views/sysimg/delete.png"
                         class="st_deleteImg"
                         ng-click="delete(item.carID)">
                </div>
            </div>
        </div>

        <div class="foot" id="foot" ng-if="showCarInfo">
            <div class="fr">合计：<span class="priceTotal">[[priceTotal | currency:'￥']]</span></div>
        </div>
        <div ng-if="!showCarInfo" class="st_taCenter">
            <img style="width: 80%; padding-top: 60px" ng-src="resources/views/sysimg/emptycar.png"/>
        </div>

    </ion-content>
    <ion-footer-bar ng-if="showCarInfo">
        <button class="button button-balanced ion-bag st_buyPopButton" ng-click="checkout($event)">
            结算
        </button>
        <button class="button button-energized ion-trash-a st_buyPopButton" ng-click="clear()">
            清空
        </button>
    </ion-footer-bar>
</ion-view>
