<!--分类物品展示-->
<ion-view view-title="[[categoryNam]]">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content scroll="true" lazy-scroll>
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中...">
        </ion-refresher>

        <div class="row row-wrap">
            <div class="col st_taCenter" ng-repeat="item in itemList">
                <span>
                    <img class="st_showImg"
                         ui-sref="tabs.finditeminfo({itemID: [[item.id]]})"
                         image-lazy-src="uploads/[[item.indeximg]]" image-lazy-loader="bubbles">
                </span>
                <span>
                    <div ui-sref="tabs.finditeminfo({itemID: [[item.id]]})">
                        [[item.name | clipStr]]
                    </div>
                </span>
                 <span>
                    <em class="st_price">[[item.cur_price | currency:'￥']]</em>
                    <em class="st_buynum">[[item.buynum]]人付款</em>
                </span>
            </div>
        </div>

        <div ng-if="showBuild">
            <img class="st_buildWebsit" ng-src="resources/views/sysimg/Maintenance-Services-Websit.jpg"/>
        </div>

        <ion-infinite-scroll ng-if="moreData" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
    </ion-content>
</ion-view>

