<!--分类物品展示-->
<ion-view view-title="[[categoryNam]]">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-chevron-left" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content scroll="true" lazy-scroll>
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中...">
        </ion-refresher>

        <div class="row row-wrap" ng-repeat="items in itemList">
            <div class="col col-[[perItemWidth]]" ng-repeat="item in items">
                <span>
                    <img style="height: 160px; width: 160px; border-radius:10px"
                         ui-sref="tabs.finditeminfo({itemID: [[item.id]]})"
                         image-lazy-src="uploads/[[item.indeximg]]" image-lazy-loader="bubbles">
                </span>
                <span>
                    <div ui-sref="tabs.finditeminfo({itemID: [[item.id]]})">[[item.name | clipStr]]</div>
                </span>
                 <span>
                    <em style="color: red">[[item.cur_price | currency:'￥']]</em>
                    <em style="padding-left:10px; font-size:10px; color:#999">[[item.buynum]]人付款</em>
                </span>
            </div>
        </div>

        <div ng-if="showBuild">
            <img style="width: 100%; height: 500px" ng-src="resources/views/sysimg/Maintenance-Services-Websit.jpg"/>
        </div>

        <ion-infinite-scroll ng-if="moreData" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
    </ion-content>
</ion-view>

