<ion-view view-title="联系我们">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="true">
        <div>
            <label class="item item-input">
                <span class="input-label st_inputLabel">服务热线：</span>
                <div class="st_smallFont" ng-bind-html="config.contactus.phone | toHtml | trustHtml"></div>
            </label>
            <label class="item item-input">
                <span class="input-label st_inputLabel">客服务邮箱：</span>
                <div class="st_smallFont" ng-bind-html="config.contactus.email | toHtml | trustHtml"></div>
            </label>
            <label class="item item-input">
                <span class="input-label st_inputLabel">客服QQ：</span>
                <div class="st_smallFont" ng-bind-html="config.contactus.qq | toHtml | trustHtml"></div>
            </label>
            <label class="item item-input">
                <span class="input-label st_inputLabel">邮递信息：</span>
                <div class="st_smallFont" ng-bind-html="config.contactus.postAddr | toHtml | trustHtml"></div>
            </label>
        </div>
    </ion-content>
</ion-view>
