<ion-view view-title="评价">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="true">
        <div ng-repeat="itemInfo in Order.iteminfo.items" class="st_underline">
            <div ng-if="itemInfo.showEV">
                <div class="row">
                    <div class="col col-50">
                        <img ng-src="uploads/[[itemInfo.img]]"
                             class="st_carImg">
                        <span>[[itemInfo.name | clipStr]]</span>
                    </div>
                    <div class="col col-50">
                    <span>评分：
                        <select id="[[itemInfo.pfid]]">
                            <option selected>5</option>
                            <option>4</option>
                            <option>3</option>
                            <option>2</option>
                            <option>1</option>
                        </select>
                        分
                    </span>
                        <br>
                        <button class="fr" ng-click="Evaluate(Order.id, itemInfo.id, itemInfo.index)">
                            提交
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea id="[[itemInfo.evid]]" class="st_W100" placeholder="商品是否给力？快分享你的购买心得吧~"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
