<!--主页-->
<ion-view view-title="首页">
    <ion-nav-bar class="bar-dark">
    </ion-nav-bar>

    <ion-content  scroll="true" overflow-scroll="true" lazy-scroll>
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中...">
        </ion-refresher>

        <!-- 轮播  至少要3个图...不然ion-slide-box 有 bug... -->
        <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 pager-click="go(index)"
                       delegate-handle="delegateHandler">
            <ion-slide ng-repeat="actItem in activityItem">
                <img ng-src="uploads/[[actItem.indeximg]]"
                     ui-sref="tabs.iteminfo({itemID: [[actItem.id]]})"
                     style="height: 250px; width: 100%">
            </ion-slide>
        </ion-slide-box>

        <!--首页物品展示-->
        <div class="row" ng-repeat="items in itemList">
            <div class="col col-[[perItemWidth]]" ng-repeat="item in items">
                <span>
                    <img style="height: 160px; width: 150px"
                         ui-sref="tabs.iteminfo({itemID: [[item.id]]})"
                         image-lazy-src="uploads/[[item.indeximg]]" image-lazy-loader="bubbles">
                </span>
                <span>
                    <div ui-sref="tabs.iteminfo({itemID: [[item.id]]})">[[item.name]]</div>
                </span>
                <div/>
                <span>
                    <em style="color: red">[[item.cur_price | currency:'￥']]</em>
                    <em style="padding-left:10px; font-size:10px; color:#999">已售：[[item.buynum]]笔</em>
                </span>
            </div>
        </div>

    </ion-content>
</ion-view>
