<!--主页-->
<ion-view view-title="逛街">
    <ion-content scroll="true" lazy-scroll>
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中...">
        </ion-refresher>


        <!-- 轮播  至少要3个图...不然ion-slide-box 有 bug... -->
        <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 pager-click="go(index)"
                       delegate-handle="delegateHandler">
            <ion-slide ng-repeat="actItem in activityItem">
                <img ng-src="uploads/[[actItem.activityimg]]"
                     ui-sref="tabs.iteminfo({itemID: [[actItem.id]]})"
                     ng-style="slideImgStyle">
            </ion-slide>
        </ion-slide-box>

        <div class="row" ng-if="Notice">
            <div class="col-10">
                <img ng-src="resources/views/sysimg/ic_scroll_bar.gif" class="st_noticeGif">
            </div>
            <div class="col-90">
                <marquee style="padding-top: 15px" direction="left" scrollamount="3">
                    [[Notice]]
                </marquee>
            </div>
        </div>

        <!--首页物品展示-->
        <div class="row row-wrap" ng-repeat="items in itemList">
            <div class="col st_taCenter" ng-class="{'col-[[perItemWidth]]': item.type == 1}" ng-repeat="item in items">
                <img ng-if="item.type == 0"
                     ui-sref="tabs.homecategory({categoryID: [[item.id]], categoryNam: '[[item.title]]'})"
                     image-lazy-src="uploads/[[item.image]]" image-lazy-loader="bubbles"
                     style="width: 100%">

                <div ng-if="item.type == 1">
                    <span>
                        <img class="st_showImg"
                             ui-sref="tabs.iteminfo({itemID: [[item.id]]})"
                             image-lazy-src="uploads/[[item.indeximg]]" image-lazy-loader="bubbles">
                    </span>
                    <span>
                        <div ui-sref="tabs.iteminfo({itemID: [[item.id]]})">
                            [[item.name | clipStr]]
                        </div>
                    </span>
                    <span>
                        <em class="st_price">[[item.cur_price | currency:'￥']]/[[item.unit]]</em>
                        <em class="st_buynum">[[item.buynum]]人付款</em>
                    </span>
                </div>
            </div>
        </div>

        <ion-infinite-scroll ng-if="moreData && !loaded" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
    </ion-content>
</ion-view>
