<!--物品展示-->
<ion-view view-title="[[itemInfo.name]]">
    <!--返回-->
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-chevron-left" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content scroll="true" overflow-scroll="true" lazy-scroll>
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中...">
        </ion-refresher>

        <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 pager-click="go(index)"
                       delegate-handle="delegateHandler">
            <ion-slide ng-repeat="strImg in slideImg">
                <img ng-src="uploads/[[strImg]]"
                     style="height: 250px; width: 100%">
            </ion-slide>
        </ion-slide-box>

        <!--物品基本信息-->
        <div style="padding-left:15px; padding-right: 15px;">
            <div>
                <div>
                    <span style="font-weight:bold" ng-cloak>[[itemInfo.describe]]</span>
                </div>
                <div>
                    <span>
                        <em style="color: red" ng-cloak>[[cur_price]]&nbsp&nbsp</em>
                        <em style="text-decoration:line-through; color: #adadad" ng-cloak>[[itemInfo.prime_price | currency:'￥']]</em>
                        <em ng-cloak>&nbsp&nbsp&nbsp&nbsp[[buynum]]</em>
                    </span>
                </div>
            </div>
            <br>
        </div>

        <!--评价详情等-->
        <div class="row" style="font-weight:bold">
            <div class="col col-20" ui-sref="tabs.itemcontent({itemID: [[itemID]]})">宝贝详情</div>
            <div class="col col-20" ui-sref="tabs.itemevaluate({itemID: [[itemID]]})">点评</div>
        </div>

    </ion-content>

    <ion-footer-bar align-title="left">
        <button style="width: 49%;" class="button button-balanced ion-bag" ng-click="buy($event)">
            立即购买
        </button>
        <button style="width: 49%;" class="button button-calm ion-ios-cart" ng-click="addInCar($event)">
            加入购物车
        </button>
    </ion-footer-bar>

</ion-view>
