<!--物品展示-->
<ion-view view-title="[[itemInfo.name]]">
    <!--返回-->
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-header-bar align-title="left" class="bar bar-subheader bar-stable">
        <div class="row">
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.itemClicked}"
                 ng-click="showItemInfo()">
                <nobr>商品</nobr>
            </div>
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.itemInfoClicked}"
                 ng-click="showContent()">
                <nobr>详情</nobr>
            </div>
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.evaluateClicked}"
                 ng-click="showEvaluate()">
                <nobr>评价([[commentNum]])</nobr>
            </div>
        </div>
    </ion-header-bar>

    <ion-content scroll="true" lazy-scroll>
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中...">
        </ion-refresher>

        <!--物品信息-->
        <div style="padding-left:5px; padding-right: 5px">
            <div ng-if="showInfo">
                <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 pager-click="go(index)"
                               delegate-handle="delegateHandler">
                    <ion-slide ng-repeat="strImg in slideImg">
                        <img ng-src="uploads/[[strImg]]"
                             style="height: 200px; width: 100%; border-radius:10px">
                    </ion-slide>
                </ion-slide-box>
                <div>
                    <p style="font-weight:bold" ng-bind-html="itemInfo.describe | toHtml | trustHtml"></p>
                </div>
                <div>
                    <span>
                        <em style="color: red" ng-cloak>[[cur_price]]&nbsp&nbsp</em>
                        <em style="text-decoration:line-through; color: #adadad; font-size:10px" ng-cloak>[[itemInfo.prime_price | currency:'￥']]</em>
                        <em style="padding-left:10px; font-size:10px; color:#999">&nbsp&nbsp[[buynum]]</em>
                    </span>
                </div>
            </div>

            <div ng-if="showCon" style="text-align: center;">
                <div ng-bind-html="itemInfo.content | trustHtml"></div>
            </div>

            <div ng-if="showEv">
                <div ng-if="Evaluates">
                    <label style="border-bottom:#000000 solid 1px; display:block" ng-repeat="Evaluate in Evaluates">
                        <div class="row" style="padding-top: 0px">
                            <div class="col col-66">
                                <em>[[Evaluate.nickname | cutUserName]]</em>
                                <em style="font-size:5px; padding-left: 5px">[[Evaluate.createtime | toStrDate]]</em>
                            </div>
                            <div class="col">
                                <img ng-src="resources/views/sysimg/star.jpg" style="width: 15px; height: 15px" ng-repeat="i in Evaluate.star">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" style="font-size:10px; white-space:normal">[[Evaluate.evaluate | toHtml | trustHtml]]</div>
                        </div>
                    </label>
                </div>

                <div ng-if="!Evaluates">
                    <img src="resources/views/sysimg/noevaluates.jpg" style="width: 100%;">
                </div>
            </div>
        </div>

        <ion-infinite-scroll ng-if="moreData && showEv" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
    </ion-content>

    <ion-footer-bar ng-if="showInfo">
        <div class="row" style="padding-top: 0">
            <div class="col col-left" style="padding-top: 0">
                <button class="button button-calm ion-ios-cart" style="float: right; width: 40%; padding-top: 0" ng-click="addInCar($event)">
                    加入购物车
                </button>
            </div>
        </div>
    </ion-footer-bar>

</ion-view>
