<!--左侧菜单-->
<ion-side-menus ng-controller="menuController">

    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menu"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-calm">
            <!--<h1 class="title">Left Menu</h1>-->
            <div class="buttons pull-center" nav-clear menu-close style="width: 100%">
                <img style="width: 100%" src="resources/views/sysimg/logo.png"/>
            </div>
        </ion-header-bar>
        <ion-content class = "has-header">
            <ion-refresher on-refresh="doRefresh()"
                           pulling-text="下拉刷新..."
                           refreshing-text="加载中...">
            </ion-refresher>

            <ion-list>
                <ion-item ion-item nav-clear menu-close class="item-avatar"
                          ng-repeat="Category in Categorys"
                          ui-sref="menu.tabs.category({categoryID: [[Category.id]], categoryNam: '[[Category.title]]'})" ng-cloak>
                    <img ng-src="uploads/[[Category.img]]">
                    <br/>
                    <div style="margin-bottom: 0">[[Category.title]]</div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
