<ion-view view-title="我的订单">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar bar-subheader bar-stable">
        <div class="row">
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.allClicked}"
                 ng-click="allOrder()" >
                <nobr>全部</nobr>
            </div>
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.payClicked}"
                 ng-click="payOrder()">
                <nobr>待付款</nobr>
            </div>
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.deliveryClicked}"
                 ng-click="deliveryOrder()">
                <nobr>待发货</nobr>
            </div>
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.evaluateClicked}"
                 ng-click="evaluateOrder()">
                <nobr>待评价</nobr>
            </div>
        </div>
    </ion-header-bar>
    <ion-content scroll="true">
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中...">
        </ion-refresher>

        <div class="st_underline"
             style="background:url(resources/views/sysimg/[[data.status | orderBgImg]]) right no-repeat;background-size:120px 120px;"
            ng-repeat="data in showData">
            <div class="row">
                <div class="col col-50">
                    <em>订单号：[[data.id]]</em>
                </div>
                <div class="col">
                    <em>合计：</em><em class="st_price">[[data.price | currency:'￥']]</em>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <em>日期：</em><em>[[data.createtime | toStrDate]]</em>
                </div>
                <div class="col">
                    <em>支付：</em>
                    <img ng-src="resources/views/sysimg/[[data.paychannel | toChannelImg]]"
                         ng-if="data.status != 0"
                         class="st_payIcon">
                </div>
            </div>
            <div class="row" ng-repeat="itemInfo in data.iteminfo.items">
                <div class="col col-50" ui-sref="tabs.orderiteminfo({itemID: [[itemInfo.id]]})">
                    <img ng-src="uploads/[[itemInfo.img]]"
                         class="st_carImg">
                    <span>[[itemInfo.name | clipStr]]</span>
                    <br>
                    <span class="st_addInfo">[[itemInfo.spec | specToStr]]</span>
                </div>
                <div class="col">
                    <span>数量：[[itemInfo.num]]</span>
                    <br>
                    <span>单价：[[itemInfo.price | currency:'￥']]</span>
                </div>
            </div>
            <div ng-if="data.status == 0" class="st_orderOp">
                    <button style="color: red" ng-click="Cancel(data.id)">
                        取消
                    </button>
                    <button style="color: blue;" ng-click="Pay(data.id)">
                        付款
                    </button>
            </div>
            <div class="st_orderOp"
                 ng-if="data.status == 1">
                待发货
            </div>
            <div class="st_orderOp"
                 ng-if="data.status == 2">
                <button ng-click="Logistics(data.id)">查看物流</button>
                <button style="color: red" ng-click="Evaluate(data.id)">
                    评价
                </button>
            </div>
        </div>

        <ion-infinite-scroll ng-if="moreData" on-infinite="loadMore()" distance="1%" ></ion-infinite-scroll>
    </ion-content>
</ion-view>
