<ion-view view-title="我的订单">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar class="bar bar-subheader bar-stable">
        <div class="row">
            <div class="col button button-balanced" ng-click="allOrder()" ><nobr>全部订单</nobr></div>
            <div class="col button button-clear"><nobr>待付款</nobr></div>
            <div class="col button button-clear"><nobr>待收货</nobr></div>
            <div class="col button button-clear"><nobr>待评价</nobr></div>
            <div class="col button button-clear"><nobr>退款/售后</nobr></div>
        </div>
    </ion-header-bar>
    <ion-content scroll="true">

    </ion-content>
</ion-view>
