<ion-view view-title="支付">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content scroll="true">
        <label class="item item-input">
            <span class="input-label st_inputLabel">单号:</span>
            <div>[[Order.id]]</div>
        </label>
        <label class="item item-input">
            <span class="input-label st_inputLabel">共需支付:</span>
            <div style="color: red">[[Order.price | currency:'￥']]</div>
        </label>
        <div class="st_taCenter">
            <button style="width: 30%" class="button button-assertive" ng-click="pay()">
                付款
            </button>
        </div>
    </ion-content>
</ion-view>
