<!--搜索-->
<ion-view view-title="搜索" ng-controller="searchController">
    <ion-content  scroll="true" overflow-scroll="true">
        <div id="search-bar">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model="query" ng-change="search(query)" autocorrect="off">
                </label>
            </div>
        </div>

        <div>
            <ion-list>
                <ion-item ion-item nav-clear
                          ng-repeat="item in searchData"
                          ui-sref="menu.tabs.iteminfo({itemID: [[item.id]]})" ng-cloak>
                    [[item.name]]
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>