<ion-view view-title="我来推广">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar align-title="left" class="bar bar-subheader bar-stable">
        <div class="row">
            <div class="col col button button-clear" ng-click="showSpreadMemo()"><nobr>推广规则</nobr></div>
            <div class="col col button button-clear" ng-click="showIncomeFc()"><nobr>收入明细</nobr></div>
            <div class="col col button button-clear" ng-click="showQRCFc()"><nobr>推广名片</nobr></div>
        </div>
    </ion-header-bar>
    <ion-content scroll="true">
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中...">
        </ion-refresher>
        <div ng-if="showMemo" style="padding-left: 15px;white-space:normal;"
             ng-bind-html="config.spread | toHtml | trustHtml">
        </div>
        <div ng-if="showIncome && canShowQRC" style="padding-left: 15px;white-space:normal;">
            收入明细
        </div>
        <div ng-if="showQRC && canShowQRC" style="padding-left: 15px;white-space:normal;">
            推广名片
        </div>
    </ion-content>
</ion-view>
