<ion-view view-title="我来推广">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-header-bar align-title="left" class="bar bar-subheader bar-stable">
        <div class="row">
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.memoClicked}"
                 ng-click="showSpreadMemo()">
                <nobr>推广规则</nobr>
            </div>
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.QRCClicked}"
                 ng-click="showQRCFc()">
                <nobr>推广名片</nobr>
            </div>
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.incomeClicked}"
                 ng-click="showIncomeFc()">
                <nobr>收入明细</nobr>
            </div>
            <div class="col button button-clear"
                 ng-class="{'button-calm': subBar.cashClicked}"
                 ng-click="showCashFc()">
                <nobr>提现明细</nobr>
            </div>
        </div>
    </ion-header-bar>
    <ion-content scroll="true">
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中...">
        </ion-refresher>

        <div>
            <!--简介-->
            <div ng-if="showMemo" class="st_agentMemo"
                 ng-bind-html="config.spread | toHtml | trustHtml">
            </div>

            <!--推广二维码，分享-->
            <div ng-if="showQRC && canShowQRC">
                <ion-item class="item-image">
                    <div>
                        <img ng-src="uploads/[[QRC]]" style="width: 200px; height: 200px;">
                         <div>
                            拥有粉丝数:[[followerCount]]
                        </div>
                    </div>
                </ion-item>
            </div>

            <!--收入明细-->
            <div ng-if="showIncome && canShowQRC">
                <div class="st_underline st_taCenter">
                    <div style="padding-top: 15px; padding-bottom: 15px;">
                        <em style="font-size: 20px;">余额:</em><em style="color: red; padding-left: 10px">[[Income/100 | currency:'￥']]</em>
                    </div>
                </div>
                <div>
                    <div class="row row-wrap">
                        <div class="col">昵称</div>
                        <div class="col">消费</div>
                        <div class="col">提成</div>
                        <div class="col">余额</div>
                        <div class="col col-25">日期</div>
                    </div>
                    <div class="row row-wrap" ng-repeat="income in incomeInfo track by income.id">
                        <div class="col" ng-click="showLevel([[income.followerid]])">[[income.followernam | cutUserName]]</div>
                        <div class="col">[[income.consume | currency:'￥']]</div>
                        <div class="col">[[income.income/100 | currency:'￥']]</div>
                        <div class="col">[[income.balance/100 | currency:'￥']]</div>
                        <div class="col col-25">[[income.time | toStrDate]]</div>
                    </div>
                </div>
            </div>

            <!--提现明细-->
            <div ng-if="showCash && canShowQRC">
                <div class="st_underline">
                    <div class="row row-wrap">
                        <div class="col">提现</div>
                        <div class="col">余额</div>
                        <div class="col">状态</div>
                        <div class="col">时间</div>
                    </div>
                </div>
                <div class="row row-wrap" ng-repeat="cash in cashInfo track by cash.id">
                    <div class="col">[[cash.money | currency:'￥']]</div>
                    <div class="col">[[cash.balance/100 | currency:'￥']]</div>
                    <div class="col">[[cash.status | toStrCashStatus]]</div>
                    <div class="col">[[cash.time | toStrDate]]</div>
                </div>
            </div>
        </div>

        <ion-infinite-scroll ng-if="moreIncomeData && showIncome && canShowQRC" on-infinite="loadIncomeData()" distance="1%" ></ion-infinite-scroll>
        <ion-infinite-scroll ng-if="moreCashData && showCash && canShowQRC" on-infinite="loadCashData()" distance="1%" ></ion-infinite-scroll>

    </ion-content>
    <ion-footer-bar ng-if="showIncome && canShowQRC">
        <div class="row st_pTop0">
            <div class="col col-left st_pTop0">
                <button class="button button-calm" style="float: right; width: 40%; padding-top: 0" ng-click="cash()">
                    申请提现
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
