<ion-view view-title="个人资料">
    <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-reply" ng-click="goBack()">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content  scroll="true">
        <!--账号绑定-->
        <div ng-if="showBind">
            <div class="row row-wrap" style="text-align: center">
                <div class="col">账号绑定</div>
            </div>
            <div class="row row-wrap">
                <span class="col col-25" style="text-align:right; padding-right: 10px;">手机号码:</span>
                <input class="col" placeholder="请输手机号码" type="text" id="bind_phone">
            </div>
            <div class="row row-wrap">
                <span class="col col-25" style="text-align:right; padding-right: 10px;">密码:</span>
                <input class="col" placeholder="请输密码" type="password" id="bind_psw1">
            </div>
            <div class="row row-wrap">
                <span class="col col-25" style="text-align:right; padding-right: 10px;">确认密码:</span>
                <input class="col" placeholder="请再次输密码" type="password" id="bind_psw2">
            </div>
            <div style="text-align: center">
                <button class="button button-light" ng-click="bindAccount()">
                    绑定
                </button>
            </div>
        </div>
        <!--相信信息-->
        <div ng-if="!showBind">
            <div class="row row-wrap">
                <span class="col col-25" style="text-align:right; padding-right: 10px;">姓名:</span>
                <input class="col" placeholder="请输入姓名" type="text" id="name" ng-change="setField('name')" ng-model="userInfo.name">
            </div>
            <div class="row row-wrap">
                <span class="col col-25" style="text-align:right; padding-right: 10px;">手机号码:</span>
                <div class="col">[[userInfo.phone | hidePhone]]</div>
                <div class="col col-25" ng-click="showChangePsw()">[[showName]]</div>
            </div>
            <!--密码修改-->
            <div ng-if="showChange">
                <div class="row row-wrap">
                    <span class="col col-25" style="text-align:right; padding-right: 10px;">原密码:</span>
                    <input class="col" placeholder="请输入原密码" type="password" id="change_oldpsw" value="">
                </div>
                <div class="row row-wrap">
                    <span class="col col-25" style="text-align:right; padding-right: 10px;">新密码:</span>
                    <input class="col" placeholder="请输入新密码" type="password" id="change_psw1" value="">
                </div>
                <div class="row row-wrap">
                    <span class="col col-25" style="text-align:right; padding-right: 10px;">确认密码:</span>
                    <input class="col" placeholder="请再次输入新密码" type="password" id="change_psw2" value="">
                </div>
                <div style="text-align: center">
                    <button class="button button-light" ng-click="changePassWord()">
                        修改
                    </button>
                </div>
            </div>
            <!--其他信息-->
            <div class="row row-wrap">
                <span class="col col-25" style="text-align:right; padding-right: 10px;">头像:</span>
                <div class="col"></div>
            </div>
            <div class="row row-wrap">
                <span class="col col-25" style="text-align:right; padding-right: 10px;">昵称:</span>
                <input class="col" placeholder="请输入昵称" type="text" id="nickname" ng-change="setField('nickname')" ng-model="userInfo.nickname">
            </div>
            <div class="row row-wrap">
                <span class="col col-25" style="text-align:right; padding-right: 10px;">邮箱:</span>
                <input class="col" placeholder="请输入邮箱" type="text" id="email" ng-change="setField('email')" ng-model="userInfo.email">
            </div>
            <div class="row row-wrap">
                <span class="col col-25" style="text-align:right; padding-right: 10px;">QQ号码:</span>
                <input class="col" placeholder="请输入QQ号码" type="text" id="qq" ng-change="setField('qq')" ng-model="userInfo.qq">
            </div>
            <div class="row row-wrap">
                <span class="col col-25" style="text-align:right; padding-right: 10px;">微信号:</span>
                <input class="col" placeholder="请输入微信号" type="text" id="weixnumber" ng-change="setField('weixnumber')" ng-model="userInfo.weixnumber">
            </div>
        </div>
    </ion-content>
</ion-view>
