<!--用户中心-->
<ion-view view-title="用户中心">
    <ion-content  scroll="true" overflow-scroll="true">
        <ion-refresher on-refresh="doRefresh()"
                       pulling-text="下拉刷新..."
                       refreshing-text="加载中...">
        </ion-refresher>

        <ion-item ion-item nav-clear class="item-image">
            <img ng-src="resources/views/sysimg/logo.png" style="width: 80px; height: 80px;border-radius:50%">
            <div style="margin-bottom: 0">大毛毛虫</div>
            <div class="row">
                <div class="col">ID:123456</div>
                <div class="col">累计购物:￥150</div>
            </div>
        </ion-item>
        <ion-item ion-item nav-clear class="item-image" style="text-align:left">
            <img ng-src="resources/views/sysimg/logo.png " style="width: 40px; height: 40px; border-radius:50%">
            个人资料
            <i class="icon ion-chevron-right fr" style="padding-right: 5px; padding-top: 10px"></i>
        </ion-item>
        <ion-item ion-item nav-clear class="item-image" style="text-align:left">
            <img ng-src="resources/views/sysimg/logo.png " style="width: 40px; height: 40px; border-radius:50%">
            收货地址
            <i class="icon ion-chevron-right fr" style="padding-right: 5px; padding-top: 10px"></i>
        </ion-item>
        <ion-item ion-item nav-clear class="item-image" style="text-align:left">
            <img ng-src="resources/views/sysimg/logo.png " style="width: 40px; height: 40px; border-radius:50%">
            我的订单
            <i class="icon ion-chevron-right fr" style="padding-right: 5px; padding-top: 10px"></i>
        </ion-item>
        <ion-item ion-item nav-clear class="item-image" style="text-align:left">
            <img ng-src="resources/views/sysimg/logo.png " style="width: 40px; height: 40px; border-radius:50%">
            <i class="icon ion-chevron-right fr" style="padding-right: 5px; padding-top: 10px"></i>
        </ion-item>
    </ion-content>
</ion-view>
